h1{
    text-align: center;
    font-size: 200px;
    color: aqua;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

p{
    text-align: center;
    font-size: 30px;
    color:black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
